APP_NAME=guardiao-almoxarifado
PORT=3000
MONGODB_URI=mongodb+srv://USUARIO:SENHA@cluster.mongodb.net/guardiao_almoxarifado
JWT_SECRET=troque-por-uma-chave-longa-e-segura

FRONTEND_URL=https://seu-frontend.onrender.com
